.background {
    // height: 100vh;
    position: relative;
}

.pageHeading {
    font-family: 'Open Sans';
}

.wrapper {
    text-align: center;
}

.vector {
    margin: 0 auto;
    width: 63%;
    height: auto;
}

section .row {
    position: relative;
    top: -400px;
    left: -500px;
    width: 160%;
    display: flex;
    padding: 2px 0;
    // margin: 2px;
    white-space: nowrap;
    font-size: 60px;
    transform: rotate(-30deg);
}

i.background {
    color: #4da4fb17;
    // font-size: large;
    transition: 3s;
    padding: 0 10px;
    user-select: none;
    cursor: default;
}

i.background:hover {
    content: "";
    transition: 0s;
    color: rgb(41, 81, 112);
    text-shadow: 0 0 120px rgb(23, 255, 73);
}

section .row div {
    animation: animate1 80s linear infinite;
    animation-delay: -80s;
}

section .row div:nth-child(2) {
    animation: animate2 80s linear infinite;
    animation-delay: -40s;
}

section .row div:nth-child(3) {
    animation: animate2 80s linear infinite;
    animation-delay: -80s;
}

section .row div:nth-child(4) {
    animation: animate2 80s linear infinite;
    animation-delay: -40s;
}

@keyframes animate1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);

    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);

    }
}


.card {
    z-index: 10;
    background: linear-gradient(70deg, rgba(255, 255, 255, 0.741), rgba(255, 255, 255, 0.665), rgba(255, 255, 255, 0.691));
    backdrop-filter: saturate(180%) blur(10px);
    transition: 0.7s;
}

.card:hover {
    transition: 1s;

    * {
        color: rgba(37, 36, 36, 0.989);
    }

    transform: scale(1.08, 1.08);
    // background-color: #5a5b7fe4;
    font-size: 17px;
    background: linear-gradient(150deg, #f4f4ffd8, #ffe3ee8b,#e0e1ff97);
    background-color: #cd9aff;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.989);
    opacity: 90%;

    .card-icon {
        // color: rgb(255, 255, 255);
        color: rgba(174, 91, 213, 0.989);
        font-size: x-large;
    }

    .hrTag {
        box-shadow: 2px 2px 5px 1px rgb(190, 159, 237);
        border-color: #335475;
    }

    .roundOutlineOfIcons {
        border: 1px solid #d0c0f6;
        box-shadow: 0px 0px 5px 0px rgba(155, 172, 207, 0.989);
    }

    a:hover {
        background-image: linear-gradient(90deg, #71939ec0,
        #7df9d4c0,
        #9293f7c0,
        #b087f3c0, );
        background-size: 400%;
        animation: bg-animation 3s infinite alternate;
        border-radius: 30px;
        // box-shadow: 0px 0px 11px 0px rgba(117, 45, 139, 0.603);
        color: aliceblue;
    }

    a:hover:after,
    a:hover:before {
        opacity: 100%;
        filter: blur(6px);
        animation: bg-animation 4s infinite alternate;
    }

}

.EducationalQualification {
    backdrop-filter: blur(2px);
}

.title-font {
    font-family: 'Robotomedi';
}

.card-text {
    font-family: 'open Sans'
}

hr {
    opacity: 55%;
}

.card-icon {
    color: rgba(255, 255, 255, 0.986)
}

a {
    font-family: 'Robotoreg';
    margin: 3px;
    padding: 3px;
    padding-inline: 13px;
    position: relative;
}

a::before,
a::after {
    content: "";
    position: absolute;
    width: calc(70px);
    height: calc(17px);
    background-image: linear-gradient(90deg, #98bbc5c0,
            #3ea989c0,
            #6e70d0c0,
            #8d6ac6c0, );
    background-size: 400%;
    z-index: -10;
    opacity: 0;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.links {
    margin-top: 10px;
}

.cards {
    min-width: 240px;
}

// heading animation

.focus-in-contract-bck {
    -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 500ms;
}

@-webkit-keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
        color: rgb(97, 0, 153);
    }

    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
        color: purple;
    }

    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

// templates animation


.cards {
    -webkit-animation: flip-in-hor-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
    animation: flip-in-hor-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
}

// .cards:nth-child(1) {
//     animation-delay: 0.0s;
// }

// .cards:nth-child(2) {
//     animation-delay: 0.5s;
// }

// .cards:nth-child(3) {
//     animation-delay: 1.0s;
// }

// .cards:nth-child(4) {
//     animation-delay: 1.5s;
// }

// .cards:nth-child(5) {
//     animation-delay: 2.0s;
// }

// .cards:nth-child(6) {
//     animation-delay: 2.5;
// }

@for $i from 1 through 8 {
    .cards:nth-child(#{$i}) {
        animation-delay: #{$i * 0.5+1}s;
    }
}


@-webkit-keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}

@keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}


// icons in the back

.bounce-in-top {
    -webkit-animation: bounce-in-top 1.1s both;
    animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}