nav{
    background-color: rgba(204, 216, 226, 0.623);
    border-radius: 15px;
    font-size: x-large;
    padding-inline: 20px;
    padding: 3px;
    backdrop-filter:blur(4px);
} 
.active{
    color: rgb(0, 0, 0);
    margin-top: 2px;
    margin-bottom: 5px;
    transition: ease-in-out opacity .9s;
    -webkit-transition: opacity .9s;
    transition: margin-top .9s;
    -webkit-transition: margin-top .9s;
    transition: margin-bottom .9s;
    -webkit-transition: margin-bottom .9s;
    text-decoration: underline  rgba(71, 81, 95, 0.712);

}
a{  
    margin-top: 5px;
    margin-inline: 9px;
    color: rgba(0, 0, 0, 0.507);
}
a:hover{
    color: rgb(0, 0, 0);
}