<header class="text-gray-600 body-font" class="aboutHeader">
  <div class="container mx-auto flex flex-wrap p-5 md:flex-row items-center " style="padding-bottom: 78px;">
    <div  class="icon mb-1 z-30" (click)="navToggle()">
      <button class="button">

        <i class="bi bi-list text-2xl border-2 border-opacity-25 rounded px-1"></i>
      </button>
      
    </div>

    <nav *ngIf=shownav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a class="header1 home " routerLink="/home" routerLinkActive="active" class="mr-5 hover:text-gray-900">About Me</a>
      <a class="header1 educ" routerLink="/EducationalQualifications" routerLinkActive="active " class="mr-5 hover:text-gray-900">Educational Qualifications</a>
      <a class="header1 MyProjects" routerLink="/my-projects" routerLinkActive="active " class="mr-5 hover:text-gray-900">My Projects</a>
      <a class="header1 skill_hobbies" routerLink="skills&hobbies" routerLinkActive="active"
        class="mr-5 hover:text-gray-900">Skills & hobbies</a>
      <a class="header1 Contact" routerLink="/my-contacts" routerLinkActive="active " class="mr-5 hover:text-gray-900">Contact Me</a>
    </nav>
  </div>
  
</header>