header{
    background: linear-gradient(30deg,#6543720c,rgba(0, 0, 0, 0.055),rgba(124, 18, 124, 0.068)) ;
}
nav{
    font-family: 'Robotoreg';
    background-color: rgba(62, 72, 80, 0.075);
    border-radius: 15px;
    font-size: x-large;
    padding-inline: 20px;
    padding: 3px;
    backdrop-filter:blur(4px);
    z-index: 10;
    text-align: center;
} 
.header1:hover{
    color: rgb(49, 48, 48);
}
.active{
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 5px;
    transition: ease-in-out opacity .9s;
    -webkit-transition: opacity .9s;
    transition: margin-top .9s;
    -webkit-transition: margin-top .9s;
    transition: margin-bottom .9s;
    -webkit-transition: margin-bottom .9s;
    text-decoration: underline  rgba(71, 81, 95, 0.712);
}
.hamburger{
    border: 2px solid rgba(49, 47, 47, 0.637);
    border-radius: 3px;
    display: none;
}
.button .line{
    fill:rgb(51, 48, 48)
}
.button .line{
    transition:
    y 300ms ease-in 300ms,
    rotate 300ms ease-in,
    opacity 0ms 300ms
    ;
    transform-origin: center;
}
.button:hover .line{
    transition:
    y 300ms ease-in,
    rotate 300ms ease-in 300ms,
    opacity 0ms 300ms
    ;
}
.button:hover :is(.top,.bottom){
    y:45
}

.button:hover .top{
    rotate: 45deg;
}
.button:hover .middle{
    opacity:0;
}
.button:hover .bottom{
    rotate: -45deg;
}

a{  
    margin-top: 5px;
    margin-inline: 9px;
    color: rgba(0, 0, 0, 0.507);
}
a:hover{
    color: rgb(0, 0, 0);
}
.tag{
    // letter-spacing: -0.2rem;
    position: relative;
}
.tag::after,.tag::before{
    content: '';
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    top: -2px;
    left:-2px;
    background-image: linear-gradient(45deg, #7a57b17a,
    #b8529a7a,
    #bd5f757a,
    #5f70bd7a,
    #5f68bd7a,
    #bd5f757a,
    #7a57b17a,);
    background-size: 400%;
    z-index: -2;
    opacity: 0%;
}
.tag:hover:before,
.tag:hover:after{
    opacity: 90%;
    filter: blur(12px);
    animation: bg-animation 4s infinite ;
}
@keyframes bg-animation {
    0%{
       background-position: left; 
    }
    100%{
        background-position: right;
    }
}
.tag{
    font-family: 'Pacifico';
    // background-image: linear-gradient(90deg,rgb(221, 0, 0),rgb(111, 0, 255));
    background-clip: text;
    color: transparent;
    font-size: 28px;
    transition: background-position 4s;
    background-image: linear-gradient(90deg,
     #a001df,#ce0592,
     #d82952, #cf6e4b,
     #f7a713, #1cda91,#1cda6b, #1cda91, #1c68da, #1c38da,);
    //  #845ec2,
    //  #d65db1,
    //  #ff6f91,
     background-size: 700%;
     animation: text-animation 8s infinite alternate;
}

@keyframes text-animation {
    0%{
       background-position: left; 
    }
    100%{
        background-position: right;
    }
}


@media only screen and (max-width: 1300px) {
    .main{
        flex-direction: column;
    }
    .navigationtab{
        margin-top: 10px;
        justify-content: flex-end;
        position:relative;        
    }
    .button{
        position: absolute;
        right: 0;
        top: -40px;
        z-index: 20;
    }
    .hamburger{
        display: block;

    }
  }
  @media only screen and (min-width: 1300px) {
    nav{
        position: relative;
        top: 7px;
    }
  }