<section class="back"></section>

<div class="container mx-auto px-4 sm:px-8 educational">
    <div class="py-8">
        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
            <div class="inline-block min-w-full rounded-lg overflow-hidden">


                <div class="flex flex-col items-center justify-center  min-h-screen py-10 px-10"
                    style="border-radius: 50rem; min-height: 45rem;">

                    <div class="container px-20 mx-auto pageHeading">
                        <span class="EducationalQualification "
                            class="font-bold title-font text-6xl text-center text-gray-300 ">
                            <h1 class="slide-in-elliptic-top-fwd "> Educational Qualifications </h1>
                        </span>
                    </div>
                    <br><br><br>
                    <h1 class="text-gray-400 font-semibold text-2xl heading text-focus-in">School</h1>
                    <div class="flex flex-col mt-6 opacity-95 edutab swing-in-top-fwd">
                        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                <div class=" overflow-hidden sm:rounded-lg ">
                                    <table class="min-w-full md:text-base text-sm ">
                                        <thead class="bg-gray-600 uppercase font-medium">
                                            <tr>
                                                <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                                    Class
                                                </th>
                                                <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                                    Board
                                                </th>
                                                <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                                    Year
                                                </th>
                                                <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                                    Score
                                                </th>
                                                <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                                    School
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-gray-800">
                                            <tr class="bg-black bg-opacity-10">
                                                
                                                <td class="flex px-6 py-4 whitespace-nowrap">
                                                    <span class="ml-2 font-medium">12<sup>th</sup> </span>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    CBSE
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    2020
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    81%
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    Army Public School,Mhow.
                                                </td>

                                            <tr>
                                                
                                                <td class="flex px-6 py-4 whitespace-nowrap">
                                                    <span class="ml-2 font-medium">10<sup>th</sup> </span>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    CBSE
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    2018
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    87.6%
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    Army Public School,Mhow.
                                                </td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br><br>

                    <!--     college    -->


                    <span class="text-gray-400 font-semibold text-2xl heading text-focus-in">College</span>
                    <h3 class="text-lg text-gray-400 font-large text-focus-in">B-Tech Computer Science Engineering</h3>
                    <div class="flex flex-col mt-6 opacity-95 edutab swing-in-top-fwd">
                        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                <div class="overflow-hidden sm:rounded-lg shadow-md shadow-red-500 ">
                                    <table class="min-w-full md:text-base text-sm ">
                                        <thead class="bg-gray-800  uppercase font-medium">
                                            <tr>
                                                <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                                    Uptill Sem
                                                </th>
                                                <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                                    System
                                                </th>
                                                <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                                    Score (cgpa)
                                                </th>
                                                <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                                    College
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="clg-body">
                                            <!-- sem 1 -->
                                            <tr class="bg-black bg-opacity-5">
                                                
                                                <td class="flex px-6 py-4 whitespace-nowrap">
                                                    <span class="ml-2 font-medium">I<sup>st</sup> </span>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    CBCS
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap text-center">
                                                    9.96
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    Medicaps University,Indore.
                                                </td>

                                                <!-- sem 2 -->
                                            <tr>
                                                
                                                <td class="flex px-6 py-4 whitespace-nowrap">
                                                    <span class="ml-2 font-medium">II<sup>nd</sup> </span>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    CBCS
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap text-center">
                                                    9.64
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    Medicaps University,Indore.
                                                </td>
                                                <!-- sem 3 -->
                                            <tr class="bg-black bg-opacity-5">
                                                
                                                <td class="flex px-6 py-4 whitespace-nowrap">
                                                    <span class="ml-2 font-medium">III<sup>rd</sup> </span>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    CBCS
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap text-center">
                                                    9.47
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    Medicaps University,Indore.
                                                </td>
                                                <!-- sem 4 -->
                                            <tr>
                                                
                                                <td class="flex px-6 py-4 whitespace-nowrap">
                                                    <span class="ml-2 font-medium">IV<sup>th</sup> </span>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    CBCS
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap text-center">
                                                    9.32
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    Medicaps University,Indore.
                                                </td>
                                                <!-- sem 5 -->
                                            <tr class="bg-black bg-opacity-5">
                                                
                                                <td class="flex px-6 py-4 whitespace-nowrap">
                                                    <span class="ml-2 font-medium">V<sup>th</sup> </span>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    CBCS
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap text-center">
                                                    9.18
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    Medicaps University,Indore.
                                                </td>

                                                <!-- sem 6 -->
                                            <tr>
                                                
                                                <td class="flex px-6 py-4 whitespace-nowrap">
                                                    <span class="ml-2 font-medium">VI<sup>th</sup> </span>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    CBCS
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap text-center">
                                                    9.09
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    Medicaps University,Indore.
                                                </td>
                                                <!-- sem 7 -->
                                            <tr class="bg-black bg-opacity-5">
                                                
                                                <td class="flex px-6 py-4 whitespace-nowrap">
                                                    <span class="ml-2 font-medium">VII<sup>th</sup> </span>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    CBCS
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap  text-center">
                                                    In Session <br> (ends by January)
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    Medicaps University,Indore.
                                                </td>
                                                <!-- sem 8
                                <tr>
        
                                  <td class="flex px-6 py-4 whitespace-nowrap">
                                    <span class="ml-2 font-medium">VIII<sup>th</sup> </span>
                                  </td>
                                  <td class="px-6 py-4 whitespace-nowrap">
                                    CBCS
                                  </td>
                                  <td class="px-6 py-4 whitespace-nowrap">
                                    in session
                                  </td>
                                  <td class="px-6 py-4 whitespace-nowrap">
                                    Medicaps University,Indore.
                                  </td>  -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>