tr{
    border-bottom: 1px solid #0000001a;
    background-color: rgba(137, 43, 226, 0.082);
}

.educational::before{
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(17, 0, 255, 0.959),rgba(255, 0, 255, 0.932));
    clip-path: circle(25% at left 70%);
    z-index: -1;
}
.educational::after{
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(79, 74, 126, 0.685),rgba(71, 212, 135, 0.932));
    clip-path: circle(30% at right 30%);
    z-index: -1;
}
.educational::after{
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(88, 84, 138, 0.959),rgba(0, 255, 115, 0.932));
    clip-path: circle(15% at right 3%);
    z-index: -1;
}
.edutab{
    backdrop-filter: blur(6px);
}
thead{
    font-family:'Open Sans';
    font-size:14px
}
tbody{
    font-family: 'Robotoreg';

}
.heading{
    background: rgba(255, 255, 255, 0.02) ;
    backdrop-filter: blur(6px);
    font-family: 'Open Sansreg';
    color: rgba(0, 0, 0, 0.733);
}
.pageHeading{
    font-family: 'Robotomedi';
}

.educational::after,.educational::before{
	-webkit-animation: scale-in-center 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(4);
              transform: scale(4);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(4);
              transform: scale(4);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  