<div class="contact">
    <div class=" px-20 mx-auto ">
        <span class="EducationalQualification font-bold title-font text-4xl text-center text-gray-900 "
        >
          <h1> Contact Me </h1>
        </span>
      </div>
    
    
    <section class="text-gray-600 body-font relative">

        <div class="container px-5 py-24 mx-auto">
            <div class="flex justify-center mb-6 text-xl text-gray-800">
                <span>Appreciate my work? Leave a message ( ﾉ ﾟｰﾟ)ﾉ</span>
            </div>
            <div class="lg:w-1/2 md:w-2/3 mx-auto">

                <form [formGroup]="contactForm"  class="flex flex-wrap -m-2" >
                    <div class="p-2 w-1/2">
                        <div class="relative">
                            <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
                            <input  type="text" id="name" name="name" title="please enter your Name" pattern="[a-z A-Z]{3,}" required
                                class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                formControlName="name">
                        </div>
                        <small class="text-red-700" *ngIf="contactForm.get('name')?.invalid&&contactForm.get('name')?.touched">Enter a Name</small>
                    </div>
                    <div class="p-2 w-1/2">
                        <div class="relative">
                            <label  for="email" class="leading-7 text-sm text-gray-600">Email</label>
                            <input   title="please Enter a Valid email" 
                             type="email" id="email" name="email"
                              required  class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" 
                              formControlName="email">
                        </div>
                        {{email}}
                        <small class="text-red-700" *ngIf="contactForm.get('email')?.invalid&&contactForm.get('email')?.touched">Enter an email</small>
                    </div>
    
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
                            <textarea   id="message" name="message" required
                                class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out" formControlName="message"></textarea>
                        </div>
                        <small class="text-red-700" *ngIf="contactForm.get('message')?.invalid&&contactForm.get('message')?.touched">Enter an message</small>
                    </div>
    
                    <div class="p-2 w-full">
                        <button type="submit" [disabled]="contactForm.invalid" (click)="submitData(contactForm.value)"
                        class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="reset">Submit</button>
                    </div>
                </form>
                
                <div *ngIf="submitted" class="font-bold text-green-700 text-center animate-pulse mt-4">{{submitMessage}}</div>
                <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
                    <p class="leading-normal my-5">81 Manpur, Maihar
                        <br>Satna, Madhya Pradesh 485771, India.
                    </p>
    
                    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                        <a href="https://www.facebook.com/profile.php?id=100012734173768" class="text-gray-500"
                            target="_blank">
                            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5" viewBox="0 0 24 24">
                                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                            </svg>
                        </a>
                        <a href="https://www.instagram.com/sushant_sharma2?r=nametag" class="ml-3 text-gray-500"
                            target="_blank">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                            </svg>
                        </a>
                        <a href="mailto:sushantsharmadev@gmail.com" class="ml-3 text-gray-500" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                            </svg>
                        </a>
                        <a href="https://github.com/sushantsharma08" class="ml-3 text-gray-500 " target="_blank">
                            <i class="bi bi-github text-lg relative -top-0.5"></i>
                          </a>
                    </span>
                </div>
    
            </div>
        </div>
    </section>
</div>

