
.home::before{
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: linear-gradient(60deg,rgba(59, 11, 11, 0.493),rgba(0, 0, 0, 0.171),rgba(2, 0, 2, 0.075));

    z-index: -2;
}
.home::after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#02457c6b,#af003a0e);

    z-index: -1;
}

.main-img{
    -webkit-mask-image: linear-gradient(black,purple);
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
}

.title-font{
    font-family: 'Open Sans';
    font-style: bold;
}
.title-font:hover{
  font-style:underline ;
}
.highlighted{
    // color: rgba(97, 56, 124, 0.795);
    color: #510087cb;
    font-family: "Roboto-boldi";
}
.typewriter{
    font-family: "Roboto-boldi";
}
span.changingText::before {
    content: "";
    animation: animate infinite 10s;
    padding-left: 7px;
    transition: all 2s ease-in-out;
    animation-delay: 1s;
}
span.changingText2::before {
    content: "";
    font-size: larger;
    animation: animate2 infinite 10s;
    padding-left: 3px;
    transition:all 2s ease-in-out;
    animation-delay: 1s;
}

@keyframes animate {

    3% {
        content: "I";
    }
    4%{
        content: "I a";
    }
    8%{
        content: "I am";
    }
    43%{
        content: "I am";
    }
    46% {
        content: "A   ";
    }
    75% {
        content: "A   ";
    }
    90% {
        content: "A   ";
    }
}

@keyframes animate2 {

    9%{
        content: "";
    }
    10%{
        content: "S";
    }
    12%{
        content: "Su";
    }
    13%{
        content: "Sus";
    }
    14%{
        content: "Sush";
    }
    16%{
        content: "Susha";
    }
    19%{
        content: "Sushan";
    }
    23%{
        content: "Sushant";
    }
    27%{
        content: "Sushant S";
    }
    31%{
        content: "Sushant Sha";
    }
    35%{
        content: "Sushant Shar";
    }
    39%{
        content: "Sushant Sharm";
    }
    43%{
        content: "Sushant Sharma";
    }
    50% {
        content: " w";
    }
    51% {
        content: " we";
    }
    52% {
        content: " web";
    }
    53% {
        content: " web D";
    }
    55% {
        content: " web De";
    }
    58% {
        content: " web Dev";
    }
    60% {
        content: " web Devl";
    }
    63% {
        content: " web Devlo";
    }
    66% {
        content: " web Devlop";
    }
    70% {
        content: " web Devlope";
    }
    72% {
        content: " web Devloper,";
    }
    77% {
        content: "D,";
    }
    78% {
        content: "De";
    }
    79% {
        content: "Des";
    }
    80% {
        content: "Desi";
    }
    81% {
        content: "Desig";
    }
    82% {
        content: "Design";
    }
    83% {
        content: "Designe";
    }
    84% {
        content: "Designe";
    }
    85% {
        content: "Designer,";
    }
    90%{
        content: "Designer,";
    }
}
@media only screen and (min-width: 1200px) {
    .imgDiv{
        // float: right;
        margin-left: 150px;
    }
  }
@media only screen and (max-width: 600px) {
        .imgDiv{
            margin-inline: auto;
        }
  }
  .fade-in-bck {
	-webkit-animation: fade-in-bck 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bck 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 0.6s;
}
@-webkit-keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    50%{
        opacity: 30%;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    50%{
        opacity: 60%;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  

  .scale-in-ver-center {
	-webkit-animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-delay: 1s;
}
@-webkit-keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
  
  