<section class="text-gray-700 body-font home ">
  <section class="">
    <div class="container pb-10 mx-auto flex flex-col ">

      <div class=" mx-auto leading-6 text-lg ">

        <div class="mt-8  flex  items-center flex-col">
          <!-- / slide-in-bottom-->
          <!-- main content -->
          <div class="flex flex-col md:flex-row justify-between mb-40">
            <div class="md:w-2/5 flex pl-14 md:pl-28 pt-20 md:pt-80  typewriter scale-in-ver-center ">
              <span>
                <span class="opacity-70 bg-black text-white bold text-2xl md:text-3xl px-4 ">Hello Folks,</span>
                <br>
                <span class="changingText opacity-70 bg-gray-600 text-yellow-100 px-1 text-2xl  md:text-3xl"></span>
                <b><span class="changingText2 bg-gray-300 opacity-70 px-1 text-2xl"></span></b>
              </span>
            </div>
            <div class="w-full md:w-3/5 mainContent pt-36">
              <div class="font-bold title-font text-gray-500 pl-24 md:pl-40 text-5xl md:text-6xl mb-16">
                About Me
              </div>
              <br>
              <p class="leading-relaxed text-xl md:text-2xl mx-5 ">
                A Computer Science Engineering Undergrad at <b class="highlighted whitespace-nowrap"> Medicaps
                  University,
                  Indore.
                </b>
                <br>
                A tech enthusiast and a fitness geek, who likes to play and learn in my free time.
                <br>
                <br>
                I mentor and inspire my juniors and friends, helping them advance in their careers providing a
                collaborative
                and innovative environment.
                I stay up-to-date with cutting-edge technologies and industry trends. I remain at the forefront of
                software
                engineering practices.
                <br><br>
                My goal is to make a meaningful impact in the field of software engineering,
                both in terms of delivering exceptional software solutions and nurturing the growth of the individuals
                around me.
                <br>
                <br>
                Looking for working environment where performance is rewarded with more responsibilities and knowlege to
                grow
                along with.
              </p>
            </div>
          </div>

          <div class="flex flex-col md:flex-row justify-between mb-40">
            <div class=" w-full md:w-4/6 mainContent pt-36">
              <div class="font-bold title-font text-gray-400 mb-24 pl-14 text-3xl md:text-6xl ">
                Educational Background
              </div>
              <p class="leading-relaxed m-[1%] text-xl md:text-2xl" style="padding-left: 4rem; padding-right: 4rem; ">
                I have completed my schooling from Army Public School's at
                various stations.
                <br>Passed my 10<sup>th</sup> and 12<sup>th</sup> CBSE board exams from <b
                  class="highlighted whitespace-nowrap">Army Public
                  School, MHOW.</b>
                <!-- <li class="my-7 text-xl"> Having Physics, Chemistry And Mathematics as main subjects in Higher Secondary School.</li> -->
                <br>
                <br>
                Currently persuing my B-Tech Degree in Computer Science & Engineering at <b
                  class="highlighted whitespace-nowrap">Medi-Caps University, Indore</b>
                <br><br>
                From the beginning itself I was intelligent and hard working, I have always participated in numerous
                school
                functions and co-curricular activities.
              </p>
            </div>
            <div class="w-2/5 flex pl-28  pt-80 hidden md:block scale-in-ver-center">
              <ol class="relative border-l-2 h-80 border-gray-200 dark:border-gray-700 ">
                <li class="mb-44 ml-6 ">
                  <span
                    class=" absolute flex items-center justify-center w-10 h-10 bg-blue-100 rounded-full -left-5 ring-8 ring-white hover:rotate-90 dark:ring-gray-900 dark:bg-blue-900">
                    <i class="bi bi-book-half text-2xl"></i>
                  </span>
                  <time class="pl-5 text-gray-300">School</time>
                </li>
                <li class="ml-6 pb-28">
                  <span
                    class="absolute flex items-center justify-center w-10 h-10 bg-purple-200  rounded-full -left-5 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                    <i class="bi bi-laptop text-2xl"></i>
                  </span>
                  <time class="pl-5 text-gray-300">College</time>
                </li>
              </ol>

            </div>
          </div>

          <div class="flex flex-col md:flex-row justify-between mb-40">
            <div class="md:w-2/5 rotate-45 pl-24 flex md:pl-96  scale-in-ver-center">
              <ol class="relative border-l-2  border-gray-200 dark:border-gray-900 ">
                <li class="mb-20 h-56 ml-6 ">

                </li>
                <li class="ml-6 ">
                  <span
                    class="absolute flex items-center justify-center w-10  bg-purple-200  rounded-full -left-5 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                    <i class="bi bi-person-fill text-3xl"></i>
                  </span>
                </li>
              </ol>
            </div>

            <div class="  w-full md:w-4/6 mainContent pt-36">
              <div class="font-bold title-font text-gray-400 mb-20 text-center text-4xl md:text-6xl ">
                Experience
              </div>
              <br>
              <p class="leading-relaxed m-[1%] text-xl md:text-2xl" style="padding-left: 4rem; padding-right: 4rem; ">
                Worked at <b class="highlighted whitespace-nowrap">Amantya technologies</b> as a Software Engineer
                Intern,
                In my
                internship period I worked as a front-end developer (Angular Dev.), Built and delivered a Testing and
                Automation Framework for 5G<b class="highlighted"> (TAF-5G)</b>
                <br><br>
                This portfolio was also made using the same JS framework.
              </p>
            </div>

          </div>

          <div class="self-start pl-72">
            <a href="assets/docs/Sushant Sharma.pdf" download="SushantSharma-Resume.pdf">
              <button class="mt-5 p-2 mb-36 text-red-50 text-xl hover:bg-yellow-600 rounded "
                style="background-color: #b881bfca;">
                Download Resume.
              </button>
            </a>
          </div>

        </div>

      </div>


    </div>
  </section>
</section>