<section class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto flex flex-col">
    
    <div class="lg:w-4/6 mx-auto leading-6 text-lg">
      <div class="image h-60 w-52 border-4 rounded-lg float-right "></div>
      Hello Folks,<br>
      I am <b>Sushant sharma</b>, A Computer Science Engineering Undergrad at Medicaps University,Indore. <br>
      Aiming to learn and master in as many languages possible. Currently working as an Front End Software engineer
      Intern at <b>Amantya technologies,Gurugram</b>.
      <br>
      <br>
      Started my path as an front end developer almost 9 months ago. Learned many things along the way. <br>
      Interested in blockchain and Astrophysics.
    </div>
  </div>
</section>