<section class="text-gray-700 body-font home">
  <section class="">
    <div class="container px-5 pb-10 mx-auto flex flex-col">

      <div class="lg:w-4/6 mx-auto leading-6 text-lg">
  
        <div class="mb-11">
          <div class="imgDiv rounded-lg h-96  overflow-hidden ml-6 absolute" style="max-width: 700px;">
            <div class="">
              <img alt="content" class="object-cover object-center h-full w-full" style="filter:grayscale(0%);" src="assets/Images/image.jpg">
            </div>
          </div>
          <div class="imgDiv rounded-lg h-96  overflow-hidden ml-6 " style="max-width: 700px; width: 107%; backdrop-filter: blur(0.2px);">
            <div class="bg-black opacity-10 h-96 z-20" style="backdrop-filter:blur(10px);">
            </div>
          </div>
  
          <div class="my-3 pl-10">
            <span class="opacity-70 bg-black text-white bold text-2xl px-4 ">Hello Folks,</span>
            <br>
            <span class="changingText opacity-70 bg-gray-600 text-yellow-100 px-1 text-xl"></span>
            <b><span class="changingText2 bg-gray-300 opacity-70 px-1 text-xl"></span></b>
          </div>
  
          <p class="leading-relaxed " style="padding-left: 4rem; padding-right: 4rem; ">
  
            <br>I am a Computer Science Engineering Undergrad at <b> Medicaps University,Indore.
            </b><br>
            A tech enthusiast and a fitness geek, I like to play and learn in my free time.
            <br>
            I am fueled with the passion to learn and understand things, considering myself a "Forever Student" I try to
            learn and grab whatever I can.
  
  
            <br>
            Also I feel blessed to have such good friends and family who keep pushing me to aquire more and more skills
            and
            check upon my achivements over a period of time. My hunger to learn and perform has contributed to most of my
            success.
            <br>
            Looking for working environment where performance is rewarded with more responsibilities and knowlege to grow
            along with.
          </p>
        </div>
  
        <div class="text-center">
          <div class="font-bold title-font text-black/[0.63] text-center text-4xl ">
            Educational Background
          </div>
          <br>
          <p class="leading-relaxed m-[1%]" style="padding-left: 4rem; padding-right: 4rem; ">
            I have completed my school Education from Army Public School's at
            various stations. I have passed my 10<sup>th</sup> and 12<sup>th</sup> CBSE board exams from <b>Army Public
              School,MHOW.</b> 
            <br>
            From beginning itself I was intelligent and hard working, I have always participated in numerous school
            functions and co-curricular activities, and have played sports i.e basketball And volleyball upto
            school level.
          </p>
          <br>
          <div class="font-bold title-font text-black/[0.63] text-center text-4xl ">
            Experience
          </div>
          <br>
          <p class="leading-relaxed m-[1%]" style="padding-left: 4rem; padding-right: 4rem; ">
            Worked at <b>Amantya technologies</b> as a Software Engineer Intern, It is a Telecommunications company. In my
            internship period of 2 months I worked as an front-end developer (Angular Dev.), Built some projects,
            this portfolio was also made using the same JS framework.
          </p>
          <div class="flex justify-center"> <a href="assets/docs/Sushant Sharma.pdf"><button
                class="mt-5 p-2 text-red-50  rounded " style="background-color: #5b455ea6;">Download Resume.</button></a>
          </div>
  
        </div>
  
  
  
      </div>
  
  
      <!-- Currently working as an Front End Software engineer
        Intern at <b>Amantya technologies,Gurugram</b>. -->
  
      <br>
      <br>
  
    </div>
  </section>

</section>