<footer class="footer text-gray-900 body-font">
    <div class="footercss">
      <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <a routerLink="/home"
          class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
          <span class="ml-3 text-2xl opacity-80">Sushant Sharma</span>
        </a>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
          <a href="https://www.facebook.com/profile.php?id=100012734173768" class="text-gray-500" target="_blank">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
              viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a href="https://www.instagram.com/sushant_sharma2?r=nametag" class="ml-3 text-gray-500" target="_blank">
            <i class="bi bi-instagram text-lg relative -top-0.5"></i>
          </a>
          <a href="mailto:sushantsharmadev@gmail.com" class="ml-3 text-gray-500" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
            </svg>
          </a>
          <a href="https://github.com/sushantsharma08" class="ml-3 text-gray-500 " target="_blank">
            <i class="bi bi-github text-lg relative -top-0.5"></i>
          </a>
          <a class=" ml-2 text-gray-500 " href="https://www.linkedin.com/in/sushant-sharma-68b915230/" target=" _blank">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="0" class="w-6 h-6" viewBox="0 0 24 24">
              <path stroke="none"
                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
              </path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </div>
  </footer>
